body {
    margin: 0;
    font-family: "Lucida Grande";
    background-color: black;

}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.main-right {
    float : right;
    margin-right : 50px;

}

.main-left {
    float : left;
    padding : 100px

}

.photo {
    width : 500px;
    height: 600px;
    position : center;
}

.main-right h1 {
    color :white;
    font-size:25px;
}